# Python bytecode files
__pycache__/
*.py[cod]

# Environment variables
.env

# Documentation and notes
TODO.md
FUNDS.md

# Virtual environment
*.venv/
*venv/

# IDE and editor settings
*.idea/

# Logs
*logs/
*.log

# Miscellaneous
*instance/
*sec-edgar-filings/
**/images/
**/plots/
