/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Body and general styling */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    padding-bottom: 100px;
}

/* Top Header */
.top-header {
    background-color: #ff671d;
    color: #fff;
    padding: 2px;
    text-align: center;
}

/* Header */
header {
    background-color: #ffffff;
    color: #ff671d;
    padding: 0px;
    text-align: center;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    color: #fff;
    padding: 20px;
    text-align: left;
    border: 2px solid #ff671d;
    border-left: none;
    border-right: none;
}

.nav-logo, .nav-main, .nav-user {
    display: flex;
    align-items: center;
}

#nav-logo {
    height: 50px;
    width: 50px;
}

nav a {
    color: #53575a;
    text-decoration: none;
    margin: 0 10px;
}

nav ul li a:hover {
    color: #666;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul {
    list-style-type: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: #53575a;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #53575a;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #53575a;
}

nav ul li a:hover::after {
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    bottom: -15px;
    background-color: #ff671d;
}

/* Fund Details Container */
.fund-details-container {
    display: flex;
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 100px;
}

.left-column, .right-column {
    flex: 1;
}

.left-column {
    padding-right: 20px;
}

.right-column {
    padding-left: 20px;
}

.newest-holdings {
    margin-top: 20px;
}

.newest-holdings p {
    margin: 5px 0;
}

/* Add Submissions */
.add-submissions {
    margin-bottom: 20px;
}

/* Submissions List */
.submission-list {
    overflow: hidden;
}

.submission-list table {
    width: 100%;
    border-collapse: collapse;
}

.submission-list th, .submission-list td {
    border: 1px solid #dddddd;
    padding: 8px;
}

.submission-list th {
    background-color: #f2f2f2;
}

.submission-list tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Adjusted Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Search Container */
.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-input, .search-button {
    font-size: 16px;
    padding: 10px;
    margin: 0 5px;
}

.search-input {
    width: 300px;
}

.search-button {
    cursor: pointer;
    background-color: #ff671d;
    color: #fff;
}

/* Columns Container */
.columns-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    width: 48%;
}

.plot-container {
    display: flex;
    align-items: flex-start;
}

.well-known-funds {
    width: 48%;
}

.plot-container img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Centered Table */
.centered-table th, .centered-table td {
    text-align: center;
}

.centered-table td.company-name {
    text-align: left;
}

/* About Us and Features Section */
.about-us {
    padding: 2rem;
    text-align: center;
}

.about-content {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    margin: 0 auto; /* Center the block */
    max-width: 1100px; /* Optional: Set a max width */
}

.about-text {
    flex: 1;
    text-align: justify;
    margin-right: 20px;
    font-size: 1.1rem;
}

.about-content img.features-image {
    flex: 0 0 auto;
    max-width: 300px;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-left: 40px;
}

/* Features Section */
.features-section {
    padding: 2rem;
    text-align: center;
}

.features-table-container {
    display: flex;
    justify-content: center;
}

.features-table {
    width: 80%;
    border-collapse: collapse;
    margin: 2rem 0;
}

.features-table th, .features-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-size: 0.9rem;
}

.features-table th {
    background-color: #f4f4f4;
}

.features-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Call to Action Section */
.call-to-action-section {
    padding: 2rem;
    text-align: center;
}

.call-to-action-button {
    background-color: #ff671d;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 1rem;
}

.call-to-action-button:hover {
    background-color: #e65a00;
}
