{% extends 'base.html' %}

{% block content %}
    <div class="column about-us">
            <h2>About Us</h2>
            <p>FinalFinance is a financial information website that provides investment data for individual
                investors, particularly those interested in value investing. The site aggregates and displays
                information about the stock holdings of prominent investment managers,
                enabling users to track the portfolios of some of the most successful investors in the world.
                FinalFinance is a valuable resource for individual investors looking to make informed decisions
                by leveraging the insights and strategies of highly successful value investors.</p>
        </div>
{% endblock %}
